doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title good
        body 
            table(class='newstitle')
                each item in diseaseInfo
                    tr 
                        td #{item.title}